src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:1717/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert">
<part name="parameters" element="tns:Convert"/>
</message>
<message name="ConvertResponse">
<part name="parameters" element="tns:ConvertResponse"/>
</message>
<message name="GetAllComptes">
<part name="parameters" element="tns:GetAllComptes"/>
</message>
<message name="GetAllComptesResponse">
<part name="parameters" element="tns:GetAllComptesResponse"/>
</message>
<message name="GetCompte">
<part name="parameters" element="tns:GetCompte"/>
</message>
<message name="GetCompteResponse">
<part name="parameters" element="tns:GetCompteResponse"/>
</message>
<portType name="BanqueService">
<operation name="Convert">
<input wsam:Action="http://ws/BanqueService/ConvertRequest" message="tns:Convert"/>
<output wsam:Action="http://ws/BanqueService/ConvertResponse" message="tns:ConvertResponse"/>
</operation>
<operation name="GetAllComptes">
<input wsam:Action="http://ws/BanqueService/GetAllComptesRequest" message="tns:GetAllComptes"/>
<output wsam:Action="http://ws/BanqueService/GetAllComptesResponse" message="tns:GetAllComptesResponse"/>
</operation>
<operation name="GetCompte">
<input wsam:Action="http://ws/BanqueService/GetCompteRequest" message="tns:GetCompte"/>
<output wsam:Action="http://ws/BanqueService/GetCompteResponse" message="tns:GetCompteResponse"/>
</operation>
</portType>
<binding name="BanqueServicePortBinding" type="tns:BanqueService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetAllComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BanqueServicePort" binding="tns:BanqueServicePortBinding">
<soap:address location="http://localhost:1717/"/>
</port>
</service>
</definitions>